.landing-container{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.landing-header{
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
    margin-top: 100px;
}

.landing-header-title{
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.landing-button{
    background-color: #4fc3f7;
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.3);
    border: none;
    text-transform: uppercase;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}

.landing-button:hover{
    transform: translateY(-5px);
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2)
}


.landing-heading-hero img{
    width: 100%;
    height: 400px;
}


/* Media Queries */
@media screen and (min-width: 600px) {
    .landing-header-title{
        font-size: 3rem;
        width: 90%;
    }

    .landing-header{
        margin-top: 100px;
    }

    .landing-heading-hero img{
        width: 100%;
        height: 600px;
    }

}

@media screen and (min-width: 900px) {
    .landing-container{
        display: flex;
        height: 90vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }

    .landing-header{
        text-align: center;
        text-transform: uppercase;
        margin: 50px auto;
    }

    .landing-header-title{
        font-size: 3.5rem;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .landing-heading-hero img{
        width: 90%;
        height: 800px;
    }
}

@media screen and (min-width: 1200px){
    .landing-header-title{
        font-size: 4rem;
        width: 90%;
        padding-bottom: 40px;
        letter-spacing: 2px;
    }

    .landing-heading-hero img{
        width: 100%;
        height: 900px;
    }
}
